html {
  margin-top: 20px;
}

body {
  background: url("mars.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.col- {
    
    background-color: white;
    font-weight: bold;
    height: 50px;
    width: 50px;
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.error {
  color: red;
}

.final {
  
  font-size: 30px;
  background: rgba(255,255,255,.6);

}

.row {
 
}

#green {
  color: green;
}

#red {
  color: red;
}

.newR {
  color: rgba(255,255,255,.8);
}
