.col- {
    
    font-weight: bold;
    /*background: yellow;*/
    height: 50px;
    width: 50px;
    float: left;
    padding: 15px;
    border: 1px solid red;
}
/*
.c10 {
  background-color: black;
}
*/
.error {
  color: red;
}

.final {
  
  font-size: 30px;
  
}

.row {
 
}

