.col- {
    
    font-weight: bold;
    height: 50px;
    width: 50px;
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.error {
  color: red;
}

.final {
  
  font-size: 30px;
  
}

.row {
 
}

#green {
  color: green;
}

#red {
  color: red;
}

